out
node_modules
.vscode-test/
*.vsix
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.metals/metals.h2.db
.metals/metals.log
.metals/metals.lock.db
server/project/.bloop/server-build.json
server/.metals/metals.log
.metals/
server/.bloop/
server/.idea/