out
node_modules
.vscode-test/
dist
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/
.metals/
.metals/metals.h2.db
.metals/metals.log
.metals/metals.lock.db
server/project/.bloop/server-build.json
.metals/
.bloop/
.idea/
server/lib/Atom.lnk
server/.metals/metals.log
.metals/
server/.bloop/
server/.idea/
dummy/opal.config.json
server/lib/OPALTACDisassembler/**
**/OPALCommandServer.jar
*.vsix

